/* External CSS stylesheet for Seattle Mariners Fan Page */

/* Type Selector */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* ID Selector */
#history {
    padding: 10px;
}

/* Class Selector */
.highlight {
    background-color: #E6E6E6;
    padding: 10px;
}

/* Relational Selector */
header h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header nav li {
    display: inline-block;
    margin-right: 10px;
}

/* Combination Selector */
header h1,
header nav a {
    color: #ffffff;
    text-decoration: none;
}

/* Attribute Selector */
a[href$=".com"] {
    color: #336699;
}

/* Pseudo-class Selector */
header nav a:hover {
    color: #993366;
}

/* Pseudo-element Selector */
footer::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #336699;
    margin-bottom: 10px;
}

/* Relative Units of Measurement */
header {
    padding: 20px 10px;
    background: linear-gradient(to right, #336699, #3fd5bc);
}

/* Specifying Colors with RGB values or Hex Codes */
main,
footer {
    background-color: #FFF;
}

/* Setting the Color of at least one element */
footer {
    color: #999;
    text-align: center;
    padding: 10px 0;
}

/* Using at least 2 properties that style font */
section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Align Roster and Video Highlights */
section {
    padding: 10px;
}