body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

section {
    padding: 1em;
    width: 50%;
    box-sizing: border-box;
}

#history {
    width: 100%;
}

.highlight {
    background-color: #E6E6E6;
    padding: 1em;
}

header {
    background: linear-gradient(to right, #336699, #3fd5bc);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header * {
    color: #ffffff;
    text-decoration: none;
}

header h1 {
    font-size: 3.2em;
    margin: 0;
    text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000;
    color: #ffffff;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #336699, #3fd5bc);
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav li {
    margin-right: 1em;
}

a[href$=".com"] {
    color: #336699;
}

header nav a:hover {
    color: #993366;
}

footer::before {
    content: "";
    display: block;
    height: 0.1em;
    background-color: #336699;
    margin-bottom: 1em;
}

main,
footer {
    background-color: #FFF;
    width: 100%;
}

footer {
    color: #999;
    text-align: center;
    padding: 1em 0;
}

footer a:hover {
    color: #993366;
}

section h2 {
    font-size: 2.4em;
    font-weight: bold;
    margin-bottom: 1em;
}

#roster {
    float: left;
}

#video {
    float: right;
}

@media only screen and (max-width: 768px) {

    #roster,
    #video {
        float: none;
        width: 100%;
    }
}