/* Set default styles for the body element */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

/* Style for each section element */
section {
    padding: 1em;
    width: 50%;
    box-sizing: border-box;
    float: left;
}

/* Style for the history section element */
#history {
    width: 100%;
}

/* Style for highlighted sections */
.highlight {
    background-color: #E6E6E6;
    padding: 1em;
}

/* Style for the header element */
header {
    background: linear-gradient(to right, #336699, #3fd5bc);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Style for all elements within the header element */
header * {
    color: #ffffff;
    text-decoration: none;
}

/* Style for the h1 element within the header element */
header h1 {
    font-size: 3.2em;
    margin: 0;
    text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000;
    color: #ffffff;
}

/* Style for the nav element within the header element */
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #336699, #3fd5bc);
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Style for the ul element within the nav element */
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the li elements within the ul element in the nav element */
header nav li {
    margin-right: 1em;
}

/* Style for anchor elements with URLs ending in .com */
a[href$=".com"] {
    color: #336699;
}

/* Style for anchor elements within the nav element on hover */
header nav a:hover {
    color: #993366;
}

/* Style for the footer element */
footer::before {
    content: "";
    display: block;
    height: 0.1em;
    background-color: #336699;
    margin-bottom: 1em;
}

/* Style for the main and footer elements */
main,
footer {
    background-color: #FFF;
    width: 100%;
    overflow: hidden;
}

/* Style for the footer element */
footer {
    color: #999;
    text-align: center;
    padding: 1em 0;
}

/* Style for anchor elements within the footer element on hover */
footer a:hover {
    color: #993366;
}

/* Style for the h2 elements within the section elements */
section h2 {
    font-size: 2.4em;
    font-weight: bold;
    margin-bottom: 1em;
}

/* Style for scalable images within the section elements */
.scalable {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

/* Style for the history-content class */
.history-content {
    padding-left: 2em;
    padding-right: 2em;
    max-width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

/* Style for the h3 elements within the history-content class */
.history-content h3 {
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

/* Style for the video-wrapper class */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Roster Page */
.roster h2 {
    padding-left: 1em;
    max-width: 100%;
}

/* Style for the roster table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

th,
td {
    border: 1px solid #ccc;
    padding: 0.5em;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Video Highlights Page */
.video h2 {
    padding-left: 1em;
    max-width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media query for screens with a maximum width of 768px */
@media only screen and (max-width: 768px) {
    section {
        width: 100%;
        float: none;
    }

    .history-content {
        padding-left: 1em;
        padding-right: 1em;
    }

    .video-wrapper {
        padding-bottom: 75%;
    }
}